body
{
    background: url('../images/snow-1186174_1920.jpg') fixed;

}


#admin_bar
{
    margin-top: 4rem;
}
.jumbotron
{
    background-color: rgba(200, 200, 200, 0.4);
}

h1
{
    border-bottom: 2px solid rgb(255, 193, 7);
}

.post
{
    box-shadow:  8px 8px 8px rgb(50, 50, 50);
}

.post_content
{
    background-color: rgba(200, 200, 200, 0.2);
}

.post_content_overlay
{
    background-image: url('../images/paper-1914901_1920.jpg');
}

.comment_btn
{
    box-shadow:  4px 4px 4px rgb(50, 50, 50);
}
